<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cikian.shop.mapper.SpecKeysMapper">

    <resultMap id="BaseResultMap" type="cn.cikian.shop.entity.SpecKeys">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="categoryId" column="category_id" />
            <result property="inputType" column="input_type" />
            <result property="sortOrder" column="sort_order" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,category_id,input_type,sort_order,del_flag
    </sql>
</mapper>
